
body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.topbar{
background:#020617;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
margin:10px;
color:white;
text-decoration:none;
font-weight:bold;
}

.hero{
text-align:center;
padding:100px 20px;
}

.btn{
padding:12px 20px;
border-radius:8px;
text-decoration:none;
margin:10px;
display:inline-block;
}

.green{
background:#22c55e;
color:black;
}

.discord{
background:#5865F2;
color:white;
}

.page{
padding:40px;
text-align:center;
}

.form{
padding:40px;
text-align:center;
}

input{
padding:12px;
margin:10px;
border-radius:6px;
border:none;
}

button{
padding:12px 25px;
background:#22c55e;
border:none;
border-radius:8px;
cursor:pointer;
}

.drivers{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.driver{
background:#1e293b;
padding:20px;
margin:10px;
border-radius:10px;
}

.card{
background:#1e293b;
padding:20px;
margin:20px;
border-radius:12px;
}
